
@keyframes shaking{
  0% {
    transform:  rotate(0)  ;
  }
  25% {
    transform:  rotate(30deg)  ;
  }
  50% {
    transform:  rotate(0)  ;
  }
  75% {
    transform:  rotate(-30deg)  ;
  }
  100% {
    transform:  rotate(0)  ;
  }
}

@keyframes glowing {
  0% {
    box-shadow: 0 0 16px 0px rgb(255, 45, 10);
  }
  25% {
    box-shadow: 0 0 16px 13px rgb(255, 45, 10);
  }
  50% {
    box-shadow: 0 0 16px 6px rgb(255, 45, 10);
  }
  75% {
    box-shadow: 0 0 16px 13px rgb(255, 45, 10);
  }
  100% {
    box-shadow: 0 0 16px 0px rgb(255, 45, 10);
  }
}
